/***********************************
NAVIGATION
***********************************/

/***********************************
HEADER
***********************************/
.header {
  background-image: url(../images/tomas-anton-escobar-PHyF2mCMei0-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vw;
}
/***********************************
ADD TRAIN
***********************************/
.add-train {
}
/***********************************
CURRENT TRAIN SCHEDULE
***********************************/
.train-schedule {
}
/***********************************
FOOTER
***********************************/
