/***********************************
COLORS
#E82222
#EEEEEE
#9C9FAD
#373B42
#b11a1a
***********************************/
body {
  color: #373b42;
}
p {
  margin: 0;
}
main {
  margin-bottom: 2rem;
}
/***********************************
NAVIGATION
***********************************/
.navigation {
  background-color: #373b42;
  height: 4vw;
  padding: 0.5rem 1.5rem;
}
.navbar-brand {
  color: #ffffff;
  font-family: "Varela Round", sans-serif;
  font-size: 1.5rem;
}
.icon {
  font-size: 1.75rem;
  margin-right: 1rem;
}
/***********************************
HEADER
***********************************/
.header {
  background-image: linear-gradient(#ffffff90, #ffffff90),
    url(../images/tomas-anton-escobar-PHyF2mCMei0-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 24vw;
}

.picture-clock {
  height: 20vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

#current-time {
  color: #373b42;
  font-size: 8rem;
  text-align: center;
}
/***********************************
ADD TRAIN
***********************************/
.add-train {
  margin: 0.8rem auto;
}
.card {
  border: 1px solid #373b42;
}
.card-header {
  background-color: #373b42;
  color: #ffffff;
  font-weight: 600;
  text-transform: uppercase;
}
.btn {
  background-color: #ffd2d2;
  border: 2px solid #e82222;
  border-radius: 10px;
  box-shadow: 1.5px 1.5px #b11a1a;
  color: #e82222;
  font-weight: 600;
  text-transform: uppercase;
}
.btn:hover {
  background-color: #e82222;
  color: #ffffff;
}
.short-label,
#first-time-input,
#frequency-input {
  display: inline-block;
  width: 7.5rem;
}
#first-time-input {
  margin-bottom: 0.5rem;
}
/***********************************
CURRENT TRAIN SCHEDULE
***********************************/
.train-schedule {
  margin: 0.8rem auto;
}
/***********************************
FOOTER
***********************************/
.footer {
  background-color: #eeeeee;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.copyright {
  font-size: 0.75rem;
}
.footer a {
  color: #373b42;
}
.footer a:hover {
  color: #e82222;
  text-decoration: none;
}
